body {
  display: flex;
  justify-content: center;
  background: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
}
.bubbles-container {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bubbles {
  position: relative;
  display: flex;
  justify-content: space-around;
}
.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc35, 0 0 15px #4fc3dc, 0 0 50px #4fc3dc;
  animation: bubble 20s linear infinite;
  animation-duration: calc(120s / var(--i));
}
@media (max-width: 768px) {
  .bubbles span {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 425px) {
  .bubbles span {
    width: 10px;
    height: 10px;
  }
}
.bubbles span:nth-child(even) {
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}
@keyframes bubble {
  0% {
    transform: translateY(850px) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: true;
}
.App {
  margin: 50px auto;
  padding: 24px;
  position: relative;
  text-align: center;
  border-radius: 5px;
  z-index: 1;
}
.App:after,
.App:before {
  content: "";
  display: block;
  position: absolute;
}
.App:after {
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  height: calc(100% - 4px);
  left: 2px;
  top: 2px;
  width: calc(100% - 4px);
  border-radius: 5px;
  z-index: -1;
}
.App::before {
  background: linear-gradient(
    var(--rotate),
    #ffe580 -15.83%,
    #ff7571 -4.97%,
    #ff7270 15.69%,
    #ea5dad 32.43%,
    #c2a0fd 50.09%,
    #9867f0 67.47%,
    #3bf0e4 84.13%,
    #33ce43 105.13%,
    #b2f4b6 123.24%
  );
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 5px;
  transition: opacity 0.8s ease-in-out;
  width: 100%;
  z-index: -3;
  animation: spin 4s linear infinite;
}
@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
.myPic {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: block;
  filter: drop-shadow(0 0 0.75rem #151515);
}
.title {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    270.97deg,
    #ffe580 -15.83%,
    #ff7571 -4.97%,
    #ff7270 15.69%,
    #ea5dad 32.43%,
    #c2a0fd 50.09%,
    #9867f0 67.47%,
    #3bf0e4 84.13%,
    #33ce43 105.13%,
    #b2f4b6 123.24%
  );
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: animated_text 4s linear infinite;
}
@keyframes animated_text {
  0% { background-position: 200% 0px; }
	50% { background-position: 100% 0px; }
	100% { background-position: 0px 0px; }
}
@media (max-width: 425px) {
  .title {
    font-size: 28px;
  }
  .myPic {
    height: 150px;
    width: 150px;
  }
  .App {
    margin: 50px 12px;
    padding: 10px;
    width: 85%;
  }
}
@media (max-width: 375px) {
  .title {
    font-size: 24px;
  }
}
a {
  text-decoration: none;
}
.Links {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  align-items: center;
  height: 100%;
  width: calc(100% - 10px);
}
.icon {
  display: flex;
  justify-content: center;
  height: 26px;
  width: 26px;
}
.name {
  padding-left: 15px;
  text-align: left;
  width: 100%;
}
.btn {
  display: block;
  border: 0px;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 19px;
  margin: 5px;
  width: calc(100% - 15px);
  overflow: hidden;
  padding: 0px 10px;
  user-select: none;
  height: 50px;
}
.personal {
  background: #191919;
}
.linkedin {
  background: #1b1f23;
}
.GitHub {
  background: #181717;
}
.instagram {
  background: #121212;
}
.facebook {
  background: #242526;
}
.x {
  background: #000000;
}
.youtube {
  background: #0f0f0f;
}
.steam {
  background: #171a21;
}
